.container{
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* header */
header{
    height: 96px;
    background-color: #402101;
    max-width: inherit;
    width: inherit;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 26px 120px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.headerul{
    display: flex;
    column-gap: 60px;
}
.header_a{
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 100%;
}
.header_a:hover{
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,

        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF;
}
    
.active{
    color: #D5906E;
}
.inactive{
    color: white;
}
.fa-bars, .fa-xmark, .fa-arrow-right-to-bracket {
    display: none;
} 
.logo1{
font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 100%;
color: white;
}
.logo2{
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 100%;
color: #D5906E;
}
.header_right{
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: 24px;
}
.header_span_right{
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: white;
}
.header_span_right:hover{
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,

        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF;
}
.fa-bars, .fa-xmark{
    font-size: 32px;
    color: white;
}
.fa-arrow-right-to-bracket, .fa-cart-shopping{
    font-size: 24px;
    color: white;
}
.fa-cart-shopping:hover{
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,

        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF,
        0 0 1px #FFFFFF;
}
.header_logo:hover{
    transition: 1s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
.fa-cart-shopping{
    animation: shop 2s linear infinite;
}


/* section1 */
.section1{
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/cover1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section1_h2{
font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: white;
text-shadow: 4px 4px 2px #581504;
margin-bottom: 48px;
margin-top: 208px;
}
.section1_button{
    width: 168px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid #B53B1B;
    color: white;
font-family: "Inter", sans-serif;   
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #B53B1B;
cursor: pointer;
}
.section1_button:hover{
    box-shadow: 0 15px 25px rgb(39, 30, 30);
    transform: translateY(-3px);
}

/* section2 */
.section2{
    background-color: #EA904F;
    padding: 120px;
}
.section2_h2{
font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: white;
margin-bottom: 40px;
text-align: center;
animation-name: changecolor;
animation-duration: 4s;
animation-iteration-count: infinite;
}
.section2_cards{
    display: flex;
    gap: 24px;
}
.section2_card{
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}
.section2_card:hover{
    box-shadow: 0 10px 5px 0 black;
}
.section2_card_figcaption{
 font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 26px;
color: #B53B1B;
margin-block: 16px 24px;
}
.section2_card_img{
    width: 100%;
    height: 184px;
    object-fit: cover;
}
.section2_article{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section2_h2_cost{
    font-family: "Inter", sans-serif;
color: #B53B1B;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.section2_h2_cost:hover{
     text-shadow:
        0 0 7px black,
        0 0 10px black,
        0 0 21px black,

        0 0 1px black,
        0 0 1px black,
        0 0 1px black,
        0 0 1px black,
        0 0 1px black;
}
.section2_button{
    width: 64px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #B53B1B;
    font-family: "Inter", sans-serif;
   color: white; 
font-weight: 400;
font-size: 12px;
line-height: 20px;
cursor: pointer;
}
.section2_button:hover{
    color: black;
}
/* footer */
footer{
    background-color: #402101;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.footer_box_left{
    width: 160px;
}
.footer_nav_left{
    margin-bottom: 42px;
}
.footer_ul_left {
    width: 117px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_a1{
font-family: "Inter", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: white;
}
.footer_a2{
    font-family: "Rubik", sans-serif;
    color: white;
font-weight: 300;
font-size: 16px;
line-height: 24px;
}
.media_box{
    display: flex;
    justify-content: space-between;
}
.footer_nav_right{
    width: 184px;
    
}
.footer_mail{
    margin-block: 16px;
}

.fa-phone, .fa-envelope, .fa-location-dot {
    color: white;
    margin-right: 16px;
}
.footer_info{
  font-family: "Rubik", sans-serif;  
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: white;
}
.footer_info:hover{
    text-shadow: 4px 5px 6px red;
    color: black;
}
.footer_a1:hover{
text-shadow: 4px 5px 6px red;
    color: black;
}
.footer_a2:hover{
   text-shadow: 4px 5px 6px red;
    color: black; 
}
.footer_social_icons:hover{
  transition: 1s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s ease;
}

/* artworks section */
.artwork_section1{
    background-color: #EA904F ;
    padding: 120px;
}
.artwork_section1_little_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}
.artwork_section1_h3{
    font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: white;
}
.artwork_section1_h3:hover{
    text-shadow:
        0 0 7px black,
        0 0 10px black,
        0 0 21px black,

        0 0 1px black,
        0 0 1px black,
        0 0 1px black,
        0 0 1px black,
        0 0 1px black;
}
.section1_sort_by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 21px;
    border: 2px solid #B53B1B;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #402101;
}
.section1_sort_by:hover{
      text-shadow:
        0 0 7px rgb(112, 17, 17),
        0 0 10px red,
        0 0 21px red,

        0 0 1px red,
        0 0 1px red,
        0 0 1px red,
        0 0 1px red,
        0 0 1px red;
        border: none;
        cursor: pointer;
}
.section_cards_box{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.section1_article_cards{
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    flex: 1 1 290px;
}
.section1_article_cards:hover{
     transition: .2s ease;
     -webkit-transform: translateX(-8px);
     transform: translateY(-8px);
     transition: .3s linear;
     cursor: pointer;
     filter: contrast(120%);
      box-shadow: 0 10px 5px 0 black;
}
.artworks_section1_card_img{
    width: 100%;
}
.artwork_section1_card_title{
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #B53B1B;
margin-block: 16px 8px;
}
.section1_card_cost_button{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section1_card_cost{
   font-family: "Inter", sans-serif; 
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #402101;
}
.section1_card_cost:hover{
    text-shadow:
        0 0 7px rgb(112, 17, 17),
        0 0 10px red,
        0 0 21px red,

        0 0 1px red,
        0 0 1px red,
        0 0 1px red,
        0 0 1px red,
        0 0 1px red;
}
.section1_card_btn{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #B53B1B;
}
.section1_card_btn:hover{
    background-color: #ccd13a;
}
.fa-cart-plus{
    font-size: 25px;
    color: white;
}
.fa-cart-plus:hover{
    color: #000000;
}
.fa-cart-plus:hover{
  cursor: pointer;
  transition: .2s ease;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  transition: .3 linear;

}
.section1_pages{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}
.section1_pages_list{
    background-color: transparent;
    border: 2px solid white;
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: white;
width: 56px;
height: 56px;
}
.section1_pages_list:hover{
    cursor: pointer;
     box-shadow: 0 0 20px  black;
}

.active_btn{
    background-color: #B53B1B;
}
 @media (max-width: 1158px) {
    .bolo3{
        display: none;
    }
 }








@media ( max-width: 1300px ) {
    .section2_cards {
        overflow-x: scroll;
    }
    .section2_card {
        flex: 1 0 282px;
    }
}






@keyframes changecolor{
    from{color: white;}
    to{color: #000000;}
}
@keyframes shop {
    
    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}